*
{
    margin:0;
    padding: 0;
}

/* project body styling */
.projectBody
{
    height: 100vh;
    background-image: url("images/backgrd.jpg");
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* musicbody styling section */
.musicBody
{
    height:80vh;
    width:50vw;
    background-color:transparent;
    backdrop-filter:blur(10px);
    border:1px solid rgb(11, 11, 37);
    border-radius:10px;
}


/* heading styling  */
h3
{
    font-size:40px;
    font-weight: bolder;
}

/* mood option select styling section  */
#moodSelect
{
    height:40px;
    width:60%;
    border:none;
    cursor: pointer;
    background-color: rgb(109, 139, 211);
    font-size: 18px;
    font-weight:bold;
    border-radius: 10px;
}

/* search button styling section  */
#searchMusic
{
    color:white;
    height:40px;
    width:30%;
    border:none;
    cursor: pointer;
    background-color: rgb(22, 35, 66);
    font-size: 18px;
    font-weight:bold;
    border-radius: 10px;
}